**/__pycache__/
**/.idea
**/*.pt
!OpenDFT/OrbEvo/orbevo/models/orbevo/Jd.pt
OpenDFT/**/datasets/
!OpenDFT/OrbEvo/orbevo/datasets
OpenDFT/**/outputs/
OpenDFT/QHBench/QH9/test_codes/*
.DS_Store
OpenMI/**/seq/
OpenMI/**/train_test.sh
OpenMI/**/generate_test.sh


